* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: 'Hubballi', cursive;
    min-height: 100vh;
    background: -webkit-gradient(linear, left bottom, left top, from(#5b1180), to(#c278c2));
    background: -o-linear-gradient(bottom, #5b1180, #c278c2);
    background: linear-gradient(to top, #5b1180, #c278c2);
    background-attachment: fixed;
}