body {
    font-family: 'Hubballi', cursive !important;
}

.gradient {
    background: linear-gradient(90deg, #5b1180 0%, #c278c2 100%);
}

.img {
    width: 75%;
    height: 75%;
    display: block;
    margin: auto auto;
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

footer {
    text-align: center;
    padding: 3px;
    background-color: #3d3d3d;
    color: white;
}